<h1>Basic Angular Form</h1>
<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input
      required
      pattern=""
      ngModel
      name="email"
      #email="ngModel"
      (change)="log(email)"
      type="email"
      class="form-control"
      id="inputEmail4"
      placeholder="Enter your email"
    />
    <div
      class="alert alert-danger"
      *ngIf="email.touched && !email.valid"
    >
      <!--Email is required-->
      <div *ngIf="email.errors?.required">Email is required</div>
      <div *ngIf="email.errors?.pattern">
        Email is incorrect
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input
    required
      ngModel
      name="password"
      #password="ngModel"
      type="password"
      class="form-control"
      id="inputPassword4"
      placeholder="Enter password"
    />
    <div
      class="alert alert-danger"
      *ngIf="password.touched && !password.valid">
      Password is required
      </div>
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input
      required
      ngModel
      name="inputAddress"
      #inputAddress="ngModel"
      type="inputAddress"
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="1234 Main St"
    />
    <div
      class="alert alert-danger"
      *ngIf="inputAddress.touched && !inputAddress.valid">
       Input field is Empty
      </div>
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input
    required
    ngModel
    name="inputAddress2"
    #inputAddress2="ngModel"
    type="inputAddress2"
      type="text"
      class="form-control"
      id="inputAddress2"
      placeholder="Apartment, studio, or floor"
    />
    <div
      class="alert alert-danger"
      *ngIf="inputAddress2.touched && !inputAddress2.valid">
       Input field is Empty
      </div>
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input
    required
      ngModel
      pattern="[a-zA-Z][a-zA-Z ]+"
      name="inputCity"
      #inputCity="ngModel"
      type="inputCity"
    type="text" class="form-control" id="inputCity" />
    <div
    class="alert alert-danger"
    *ngIf="inputCity.touched && !inputCity.valid"
  >
    <!--Email is required-->
    <div *ngIf="inputCity.errors?.required">Input field is required</div>
    <div *ngIf="inputCity.errors?.pattern">City don't exist
    </div></div>
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>select</option>
      <option>Andhra Pradesh</option>
      <option>Arunachal Pradesh</option>
      <option>Assam</option>
      <option>Bihar</option>
      <option>Chhattisgarh</option>
      <option>Goa</option>
      <option>Gujarat</option>
      <option>Haryana</option>
      <option>Himachal Pradesh</option>
      <option>Jharkhand</option>
      <option>Karnataka</option>
      <option>Madhya Pradesh</option>
      <option>Maharashtra</option>
      <option>Manipur</option>
      <option>Meghalaya</option>
      <option>Mizoram</option>
      <option>Nagaland</option>
      <option>Odisha</option>
      <option>Punjab</option>
      <option>Rajasthan</option>
      <option>Sikkim</option>
      <option>Tamil Nadu</option>
      <option>Telangana</option>
      <option>Tripura</option>
      <option>Uttar Pradesh</option>
      <option>Uttarakhand</option>
      <option>West Bengal</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input
    required
      ngModel
      pattern="^\d{5}(?:\d{2})?$"
      name="inputZip"
      #inputZip="ngModel"
      type="inputZip"
    type="text" class="form-control" id="inputZip" />
    <div
      class="alert alert-danger"
      *ngIf="inputZip.touched && !inputZip.valid"
    >
      <!--Email is required-->
      <div *ngIf="inputZip.errors?.required">Input field is required</div>
      <div *ngIf="inputZip.errors?.pattern">Zip is incorrect
      </div></div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<!--<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>-->
